<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xenters.cc - dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://localhost:8080/?key=8LO4HoysjvVU17DlYSFCXAbFbcZQEHEpc663aELCKJ4vcHBmvk&event=assets&args=panel.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
</head>
<body>
    
    <div class="sidenav">
        <div class="logo">
            <h1>xenters.cc</h1>
            <p>your forum to be.</p>
        </div>
        <div class="links">
            
        <a href="#"><i class="fas fa-home"></i> Home</a>
        <a href="#"><i class="fas fa-tools"></i> Tools</a>
        <a href="/panel" style="color: red"><i class="fas fa-tools"></i> Panel</a>
        <br>
        <br>
        <br>
        <br>
        <br>        
        <br>
        <br>
        <form action="/logout" method="post">
            <button type="submit">Log Out</button>
        </form>
        </div>
    </div>
    <div class="content">
        <h1>Home</h1>
        <form action="/genCodes" method="post">
            <button type="submit">Generate Invites</button>
        </form>
    </div>
</body>
</html>