<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:8080/?key=8LO4HoysjvVU17DlYSFCXAbFbcZQEHEpc663aELCKJ4vcHBmvk&event=assets&args=register.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <title>xenters.cc - register</title>
</head>
<body>
<div class="index">
    <div class="content">
        <h1>signup</h1>
        <form action="/register" method="POST">
            <div class="field">
                <i class="fas fa-user-plus"></i>
                <input type="text" placeholder="username" id="user" name="user">
            </div>
            <div class="field">
                <i class="fas fa-at"></i>
                <input type="email" placeholder="email" id="mail" name="mail">
            </div>
            <div class="field">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="password" id="pass" name="pass">
            </div>
            <div class="field">
                <i class="fas fa-ticket-alt"></i>
                <input type="text" placeholder="invite" id="inv" name="inv">
            </div>
            <br>
            <button type="submit" class="button">register</button>
        </form>
    </div>
</div>
</body>
</html>